.d1 {
	background-color: rgb(250, 214, 142);
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
.d2 {
	background-color: Brown;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fotos_container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.alinha_texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 160px;
    text-align: center;
}
.bloco_conteudo {
    display: top;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img {
    width: 300px;
    height: auto;
}
label {
	color: beige;
}
h1,h3 {
	color: Brown;	
}
a {
	color: Brown;
}
input {
	color: beige;
	Background-color: Brown;
	border-color: beige;
}
button {
			color: beige;
			Background-color: Brown;
	border-color: beige;
}