.d1 {
	background-color: rgb(250, 214, 142);
    padding: 30px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
   }
.d2 {
	background-color: Brown;
    padding: 30px;
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.fotos_container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.alinha_texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 180px;
    text-align: center;
}
.bloco_conteudo {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: brown;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    h1 {
        color: beige;
    }
    p {
        color: beige;
    }
}
img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}
label {
	color: beige;
}
h1 {
	color: Brown;	
    border: 5px solid Brown;
    border-radius: 10px;
}
h3 {
    color:brown;
}
a {
	color: Brown;
}
input {
	color: beige;
	Background-color: Brown;
	border-color: beige;
}
button {
			color: beige;
			Background-color: Brown;
	border-color: beige;
}